= partial 'partials/head'
#main.scene
  %div{:class => page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeInZoom
      = yield
      .row
        .next-prev
          - prev_article = current_article.previous_article
          - if prev_article
            .prev{:style => 'background-color:' + prev_article.data.color}
              %p Previous case
              %h3
                %a{ :rel => "prev", :href => prev_article.url }= prev_article.title
          - next_article = current_article.next_article
          - if next_article
            .next{:style => 'background-color:' + next_article.data.color}
              %p Next case
              %h3
                %a{ :rel => "next", :href => next_article.url }= next_article.title
