= partial 'partials/head'
#main.scene
  %div{:class => page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeInZoom
      = yield
      = partial 'partials/next-prev'
= partial 'partials/footer'
