= partial 'partials/head'
#main.scene
  %div{:class => page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeInDownDelay
      %a.back{ :href=> '/verbose' }
        &larr; Back
      %h3
        = current_page.data.title
      = yield
= partial 'partials/footer'
