= partial 'partials/head'
#main.scene
  %div{:class => page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeInDown
      .row.blog
        .verbose-shape{:style => 'background-color:' + current_page.data.color}
          %img{:src => current_page.data.image}
        .intro
          %h1
            = current_page.data.title.titleize
            - time = current_page.date
            %sup= time.strftime("%b #{time.day.ordinalize}")
          %a.back{ :href=> '/verbose' }
            &larr; Back
        = yield
= partial 'partials/footer'
