= partial 'partials/head'
#main.scene
  %div{:class => 'main-wrapper ' + page_classes}
    = partial 'partials/header'
    .scene_element.scene_element--fadeInDown
      .row.blog
        .verbose-shape{:style => 'background-color:' + current_page.data.color}
          %img{:src => current_page.data.image}
        .intro
          - time = current_page.date
          %span= time.strftime("%b #{time.day.ordinalize}")
          %h1
            = current_page.data.title.titleize
          %a.back{ :href=> '/verbose' }
            &larr; Back
        = yield
        %form{:action => "https://api.staticman.net/v1/entry/umbriel/sebastian-graz-dynamic/master", :method => "POST"}
          / e.g. "2016-01-02-this-is-a-post"
          %input{:name => "options[slug]", :type => "hidden", :value => ""}/
          %label
            %input{:name => "fields[name]", :type => "text"}>/
            Name
          %label
            %input{:name => "fields[email]", :type => "email"}>/
            E-mail
          %label
            %textarea{:name => "fields[message]"}>
            Message
          %button{:type => "submit"} Go!
      = partial 'partials/blog-footer'
