%footer
  .row.center-v
    %a{:href => "http://dribbble.com/#{data.social.dribbble[0]}", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'dribbble', :label => ''})
    %a{:href => "https://twitter.com/#{data.social.twitter[0]}", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'twitter', :label => ''})
    %a{:href => "http://vsco.co/#{data.social.vsco[0]}/images/1", :target => "_blank"}
      = partial(:'partials/icon', :locals => {:image => 'vsco', :label => ''})
