---
title: Logotypes
description: Collection of logotypes throughout my career
date: 2016-07-24 21:33 UTC
year: 2012-2016
color: '#eee'
fontcolor: '#000'
tags:
- Personal
role:
- Designer
image: '/images/logotypes/case-logotypes.png'
---

= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year, :fontcolor=> current_page.data.fontcolor, :color=> current_page.data.color })

.row
  :markdown
    ### Personal logos
.row
  .grid.half
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/flex.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/graz.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/heyplace.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
.row
  :markdown
    ### The Poetry Hour
.row
  .grid.half
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/tph1.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/tph2.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/tph3.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/tph4.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
    = partial(:'partials/grid-system/_image-half', :locals => {:imageFirst=> '/images/logotypes/tph5.svg', :caption=>'Full Flex – HTML template logo', :X1=>'0%', :Y1=>'0%', :R1=>'0', :S1=>'0.2', :color=> current_page.data.color})
