---
title: Husqvarna
description: Chainsaws, gardening and forestry
date: 2016-07-12 20:15 UTC
year: 2016
color: '#ECF3E4'
fontcolor: '#000'
tags:
- Pitch
- Web design
- Iconography
role:
- Lead designer
image: '/images/husqvarna/husqvarna.png'
---

= partial(:'partials/_case-meta', :locals => {:roles=> current_page.data.role, :tags=> current_page.data.tags, :h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color, :fontcolor=> current_page.data.fontcolor })

.hero-devices
  .hero-device-wrapper.row
    .hero-computer
      .case-section-image.loadme
        %img(src='/images/husqvarna/macbook.png')
      .hero-phone
        .case-section-image.loadme
          %img(src='/images/husqvarna/bush.png')

.row
  .tw
    :markdown
      ### A 327 year old company wants a new website

      #### Husqvarna is one of the oldest companies in Sweden still in business. The company started as a gunsmith company in 1689 ( you can tell by the logotype as it symbolises the sight over the barrel ) and since then has been doing sewing machines, kitchen appliances, bicycles, motorbikes and now more recently outdoor equipment.

      During my time at DigitasLBi as a graphic designer Husqvarna approached us and wanted help to create the next generation global website for them. But before we were able to do that we had to win their hearts by pitching some ideas, designs and solutions that they would be happy to proceed with. We didn’t have many days to come up with a proposed design, however we did have many nights. We didn’t wait around for wireframes nor information architectures from our UX designers due to time constraints. This was a direct collaboration between marketeers, creative directors, copywriters and the designer, me.

      As the project kicked off I started focusing on improving the design from their current website at the time. I introduced a sensible typography hierarchy, reduced the usage of colours, the usage iconography, better font sizes for legibility, increasing whitespace for easier readability, and breathing space for the content.
.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Homepage

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/husqvarna/homepage.jpg'})
.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Product details

        The product details page focuses on bringing out contextual stories with the product involved. The user can watch a promotional video of a forestry worker using the Husqvarna chain saw, read reviews, see related products and also at the end of the page there is a call to action to find a dealer.

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/husqvarna/product-page.jpg'})
.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Product listing page

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/husqvarna/product-listing-page.jpg'})

.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Iconography

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/husqvarna/iconography.png'})
.row
  .case-section
    .tw
      :markdown
        ###Retrospect

        We did what we could in the limited timeframe – however the fact the we won the client meant that our ideas and designs still resonated positively with Husqvarna.

        The pitch was a start of a bigger conversation between the client and DigitasLBi. And from there the design took off into production, with major changes but the DNA intact. Unfortunately I wasnt part of the production phase, I only produced the vision, but I'm happy to see they kept it's essence.
