---
title: The Poetry Hour
description: Poetry gets another chance
date: 2016-06-22 20:07 UTC
year: 2016
color: '#FFF7EA'
fontcolor: '#000'
tags:
- 'Web design'
- 'Rebranding'
- 'CMS'
role:
- 'Front End'
- 'Art Direction'
- 'User Experience'
image: images/thepoetryhour/case-poetry.png
---



= partial(:'partials/_case-meta', :locals => {:h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color, :fontcolor=> current_page.data.fontcolor })

.hero-devices
  .hero-device-wrapper.row
    .hero-computer
      %img.loadme(src='/images/thepoetryhour/macbook-poetry.png')
      .hero-phone
        %img.loadme(src='/images/thepoetryhour/mobile-search.png')
.row
  .tw
    :markdown
      ### Poetry in a digital world gets another chance

      #### Brief: Create a poetry platform for a wider audience

      Indulging into the world of poetry can be quite daunting especially for an audience with increasingly short web-attention. At This Place we came up with a fresh way to introduce poetry for a new audience - through Memes. In other words, a hand-picked poem verse pasted onto an image. With the idea of it being shared online
.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Home

        The idea is to engage a younger audience as well as people with little or no prior interest in poetry. A poem excerpt on top of an image is easier to digest initially - rather than being presented with a whole complex poem.

        The Meme would also act as a mini advert for the poetry site seeded through social media and when seen outside the context of the website to bring in extra traffic to the website.
        Each created Meme is shareable through social media and when seen out of context of The Poetry Hour website will drive additional traffic to the site
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/home.jpg'})
.row-full
  .row
    .tw
      :markdown
        ### Meme creator

        The user can create their own Memes through the website with the ability to customise the font, text colour, font size, and text position. The website does some minor hand holding in terms of Meme image aesthetics to ensure the Memes look pleasant. For instance the user may only choose colours that suit the average colour of the image that the user has chosen.
  .image-pull-left
    = partial(:'partials/_image', :locals => {:image=> '/images/thepoetryhour/isometric-thepoetryhour.jpg'})

.row
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Meme creator

        The idea is to engage a younger audience as well as people with little or no prior interest in poetry. A poem excerpt on top of an image is easier to digest initially - rather than being presented with a whole complex poem.

        The Meme would also act as a mini advert for the poetry site seeded through social media and when seen outside the context of the website to bring in extra traffic to the website.
        Each created Meme is shareable through social media and when seen out of context of The Poetry Hour website will drive additional traffic to the site
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/meme-creator.jpg'})
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Poem page

        The poem page was designed to achieve two things: reading poetry and creating memes. The challenge was to please two types of users who had two different goals. The solution was to let the users have the ability to create a Meme with just one click of the button.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/poem.jpg'})
    
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Search

        The search function on the website was created with all the different content types in mind. When searching the user is presented with all the results at first, but is then able to further filter the different content types to find their desired term faster.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/search.jpg'})
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Narrators

        Another big part of the website is the famed narrators. Celebrities and artists read their favourite poems out loud recorded on video or audio.

        Some of the celebrities include Rooger Moore, Ralph Fiennes, Charles Dance, Kelly Reilly and many more. The narrators section is obviously a big selling point for the brand so the narrations and videos are seamlessly integrated into each respective poem page, with just one click.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/narrators.jpg'})
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Styleguide

        As a sole designer on the project I had free reins on the process. I quickly decided that there was no need for pixel perfect designs for every page and breakpoint because the website did not have many pages to begin with. But also because I felt comfortable designing in the browser, which in my mind is the true canvas for web design rather than static images. This way I was able to design from a MVP methodology, meaning I started small and functional and built it up from there. With close collaboration with the full-stack developers we quickly had a website that worked in no time. Over time the design evolved from review with the client as well as internally in a iterative fashion. It was satisfying watching the project grow for each day.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/styleguide.jpg'})
  .case-section{ :style => 'background-color:' + current_page.data.color }
    .tw
      :markdown
        ### Iconography

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/iconography.png'})

  .case-section
    .tw
      :markdown
        ### Closing thoughts

        The many responsibilities I had for this project made the project very fun and challenging. Having an significant role in each design department made me a happy camper.

        In retrospect.

        Statistics show that users are less likely to be invested in an app for longer periods of time, therefore a website experience is even more important than previously. If I was to redo the whole project from scratch I would mainly focus on improving the mobile experience, before the desktop experience. Rather than trying to squeeze down desktop content into a mobile view. For instance the Meme Creator works fine on all breakpoints but on mobile the experience could have been improved significantly.

        In terms of design I feel like the website lacks branded personality. All though the current design does the job fine, I feel like there is some space for improving the brand had I had more time during the design phase.

        Development wise I feel that the website is running on the latest and greatest (albeit technology widely known and documented). I learned quite a bit in terms of creating production-ready CSS structure for big websites. Reusability, modularity object-oriented are all synonyms I strived for when creating the structure and Im happy to say that I’m satisfied with what I have accomplished.
