---
title: The Poetry Hour
description: Poetry gets another chance
date: 2016-06-22 20:07 UTC
year: 2016
color: '#fff3df'
fontcolor: '#000'
tags:
- 'Responsive web'
- 'Rebranding'
- 'CMS'
role:
- 'Front end'
- 'Art direction'
- 'User experience'
image: '/images/thepoetryhour/case-poetry.png'
---

.hero-devices
  .hero-device-wrapper.row
    .hero-computer
      .case-section-image.loadme
        %img(src='/images/thepoetryhour/macbook-poetry.png')
      .hero-phone
        .case-section-image.loadme
          %img(src='/images/thepoetryhour/mobile-search.png')

-# %video{:width => 720, :height => 480, :controls => false, :loop => true, :autoplay => true}
-#   %source{:src => "/videos/video.mp4", :type => 'video/mp4'}


.row
  .case-section
    .tw
      :markdown
        ### Poetry in a digital world gets another chance

        #### Create a poetry platform for a wider audience

        Indulging into the world of poetry can be quite daunting especially for an audience with increasingly short web-attention. At This Place we came up with a fresh way to introduce poetry for a new audience - through Memes. In other words, a hand-picked poem verse pasted onto an image. With the idea of it being shared online
.row
  .case-section
    .tw
      :markdown
        ## Home

        The home page is adorned with a content slider, featuring a random poetry verse matched with Memes that correspond with the verse displayed. It's a smart way to show what the website is about at a glance. Reading poetry or explore memes.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/home.jpg'})
.row-full
  .row
    .tw
      :markdown
        ## The selling point

        The user can create their own Memes through the website with the ability to customise the font, text colour, font size, and text position. The website does some minor hand holding in terms of Meme image aesthetics to ensure the Memes look pleasant. For instance the user may only choose colours that suit the average colour of the image that the user has chosen.
  .image-pull-left
    = partial(:'partials/_image', :locals => {:image=> '/images/thepoetryhour/isometric-thepoetryhour.jpg'})

.row
  .case-section
    .tw
      :markdown
        ## Meme creator

        The idea is to engage a younger audience as well as people with little or no prior interest in poetry. A poem verse or excerpt on top of an image is easier to digest initially - rather than being presented with a whole usually complex poem.

        The Meme would also act as a mini advert for The Poetry Hour. Seeded through social media and when seen outside the context of the website the link associated with the Meme would bring in extra traffic.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/meme-creator.jpg'})
  .case-section
    .tw
      :markdown
        ## Poem page

        The poem page was designed to achieve two things: reading poetry and creating Memes. The user may create a Meme by either selecting the text, or be guided into creating a meme by clicking the create Meme button, which will automatically select the first verse.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/poem.jpg'})

  .case-section
    .tw
      :markdown
        ## Search

        The search function on the website was created with all the different content types in mind. When searching the user is presented with all the results at first, but is then able to further filter the different content types to find their desired term faster.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/search.jpg'})
  .case-section
    .tw
      :markdown
        ## Narrators

        Another big part of the website is the famed narrators. Celebrities and artists read their favourite poems out loud recorded on video or audio.

        Some of the celebrities include Roger Moore, Ralph Fiennes, Charles Dance, Kelly Reilly and many more.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/narrators.jpg'})
  .case-section
    .tw
      :markdown
        ## Styleguide

        As a sole designer on the project I had free reins on the process. I quickly decided that there was no need for pixel perfect designs for every page and breakpoint because the website did not have many pages to begin with. But also because I felt comfortable designing in the browser, which in my mind is the true canvas for web design rather than static images.

        So I created a live style guide inside the browser, where I laid out all the re-usable components to get a nice overview of the design direction of the website, but also to help the consistency throughout the website.
    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/styleguide.jpg'})
  .case-section
    .tw
      :markdown
        ## Iconography

        The iconography set for poetry was created to be as legible as possible from a size of 16x16 pixels and sometimes smaller. That meant that each icon had to be thoughtfully crafted on a 16x16 pixel grid to avoid rendering issues on lower-resolution screens

    = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/iconography.png'})
  .case-section
    .tw
      :markdown
        ### Closing thoughts

        The many responsibilities I had for this project made the project very fun and challenging. Having an significant role in each area of the design process made me a happy camper.

        I learned a lot about site generation with Angular, deployment of live sites, page speed optimising, CSS structures for large websites, designing in the browser, accessibility in web to name a few areas.

        In retrospect feel like there was a big chunk missing from the User Testing side of things. We did test the journeys internally and we installed a video broadcasting service that streamed videos from our users browser to see how they interacted with the website. All which gave us important insights on the UX of the website. However I still missed qualitative research with target audience to really get what they wanted from a website like this. This would be especially important for the Meme creator which is one of the more important aspects of the website.
