---
title: The Poetry Hour
description: Poetry gets another chance
date: 2016-06-22 20:07 UTC
year: 2016
color: '#FFF7EA'
fontcolor: '#000'
tags:
- 'Web design'
- 'Rebranding'
- 'CMS'
role:
- 'Front End'
- 'Art Direction'
- 'User Experience'
image: images/thepoetryhour/case-poetry.png
---



= partial(:'partials/_case-meta', :locals => {:h1=> current_page.title, :year=> current_page.data.year, :color=> current_page.data.color, :fontcolor=> current_page.data.fontcolor })

.hero-devices
  .hero-device-wrapper.row
    .hero-computer
      %img.loadme(src='/images/thepoetryhour/macbook-poetry.png')
      .hero-phone
        %img.loadme(src='/images/thepoetryhour/mobile-search.png')
.row
  .tw
    :markdown
      ### Poetry in a digital world gets another chance

      #### Brief: Create a poetry platform for a wider audience

      Indulging into the world of poetry can be quite daunting especially for an audience with increasingly short web-attention. At This Place we came up with a fresh way to introduce poetry for a new audience - through Memes. In other words, a hand-picked poem verse pasted onto an image. With the idea of it being shared online
.row
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/home.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Landing Page', :color=> current_page.data.color})
.row-full
  .row
    .tw
      :markdown
        ### Meme creator

        The user can create their own Memes through the website with the ability to customise the font, text colour, font size, and text position. The website does some minor hand holding in terms of Meme image aesthetics to ensure the Memes look pleasant. For instance the user may only choose colours that suit the average colour of the image that the user has chosen.
  = partial(:'partials/_image', :locals => {:image=> '/images/thepoetryhour/isometric-thepoetryhour.jpg'})

.row
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/meme-creator.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Meme creator', :color=> current_page.data.color})
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/poem.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Poem page', :color=> current_page.data.color})
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/search.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Search', :color=> current_page.data.color})
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/narrators.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Narrators', :color=> current_page.data.color})
  = partial(:'partials/grid-system/_image-full', :locals => {:image=> '/images/thepoetryhour/styleguide.jpg', :caption=> 'The home page serves as a exploration tool, with curated content controlled by the custom CMS. In here the user will have many entry points depending on the user persona', :captionTitle=>'Style guide', :color=> current_page.data.color})
