---
title: Profile
---

.row
  .intro.ingress.scene_element.scene_element--fadeInDown
    %h1 Sebastian Graz
    %h3
      Freelance designer and developer with 5 years of experience. My main jam is rapid
      prototyping, iterative design methodology and branding. I have experience
      in designing extensive e-commerce projects as well as aesthetic campaign websites.
      I also dabble in animated videos, 3D imagery and audio production.
    %a.cta(href='mailto:graz@live.se?subject=Contact enquiry') Contact me at graz@live.se
  .profile-sections
    .profile-section
      %h4 Clients
      %ul
        - data.profile.clients.each do |client|
          %li
            %p= client
    .profile-section
      %h4 Awards & Recognitions
      %ul
        - data.profile.awards.each do |award|
          %li
            %p= award
    .profile-section
      %h4 Experience
      %ul
        - data.profile.experiences.each do |experience|
          %li
            %p= experience
    .profile-section
      %h4 What I'm all about
      %ul
        - data.profile.skills.each do |skill|
          %li
            %p= skill
    .profile-section
      %h4 Design tools
      %ul
        - data.profile.designtools.each do |designtool|
          %li
            %p= designtool
    .profile-section
      %h4 Development
      %ul
        - data.profile.devtools.each do |devtool|
          %li
            %p= devtool
    .profile-section
      %h4 Languages
      %ul
        - data.profile.languages.each do |language|
          %li
            %p= language
    .profile-section
      %h4 Web presence
      %ul
        %li
          %a{:href => "http://vsco.co/#{data.social.vsco[0]}/images/1", :target => "_blank"}
            = partial(:'partials/icon', :locals => {:image => 'vsco', :label => 'VSCO'})
        %li
          %a{:href => "http://dribbble.com/#{data.social.dribbble[0]}", :target => "_blank"}
            = partial(:'partials/icon', :locals => {:image => 'dribbble', :label => 'Dribbble'})
        %li
          %a{:href => "https://twitter.com/#{data.social.twitter[0]}", :target => "_blank"}
            = partial(:'partials/icon', :locals => {:image => 'twitter', :label => 'Twitter'})
