---
title: Profile
---

.row
  .intro.ingress.scene_element.scene_element--fadeInDown
    %h3
      Designer and developer with 5 years of experience. My main jam is prototyping, iterative design methodologies and brand identities.
      I have been involved in many challenging projects ranging from small personal projects to extensive 100-page e-commerce projects. I also dabble in animated videos, 3D imagery, audio production and some other bits and bobs 🌶
    %a.cta(href='mailto:hi@sebastiangraz.com?subject=Contact enquiry') Contact me at graz@live.se
  .profile-sections
    .profile-section
      %h4 Clients
      %ul
        - data.profile.clients.each do |client|
          %li
            %p= client
    .profile-section
      %h4 Awards & Recognitions
      %ul
        - data.profile.awards.each do |award|
          %li
            %p= award
    .profile-section
      %h4 Experience
      %ul
        - data.profile.experiences.each do |experience|
          %li
            %p= experience
    .profile-section
      %h4 What I'm all about
      %ul
        - data.profile.skills.each do |skill|
          %li
            %p= skill
    .profile-section
      %h4 Design tools
      %ul
        - data.profile.designtools.each do |designtool|
          %li
            %p= designtool
    .profile-section
      %h4 Development
      %ul
        - data.profile.devtools.each do |devtool|
          %li
            %p= devtool
    .profile-section
      %h4 Languages
      %ul
        - data.profile.languages.each do |language|
          %li
            %p= language
    .profile-section
      %h4 Web presence
      %ul
        %li
          %a{:href => 'http://twitter.com/grazsebastian', :target => '_blank'} Twitter
        %li
          %a{:href => "http://vsco.co/sgraz?utm_source=user_grid&utm_medium=user_website&utm_campaign=link_to_grid"}
            %img{:alt => "VSCO Logo", :src => "/images/vsco.png", :style => "width: 16px; height: 16px; margin: 0px; display: inline-block; border: 0; text-decoration: none; vertical-align: -2px;"}
            VSCO
        %li
          %a Email
